{% extends 'layout/master.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{% if page == 'create' %}
Photo Create page
{% else %}
Photo Update page
{% endif %}
{% endblock title %}

{% block content %}
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'layout/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
    {% include 'layout/notification.html' %}
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      {% include 'layout/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row justify-content-center">
            
              {% if page == 'create' %}
              <div class="col-lg-6 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add Photos</h4>

                    <form class="forms-sample" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group m-3">
                        <label>Select a year</label>
                        <select name="year" id="" class="form-control">
                            <option value="">Select a category...</option>
                            <!-- category name -->
                            {% for year in years %}
                            <option value="{{year.id}}">{{year.name}}</option>

                            {% endfor %}

                        </select>
                      </div>

                      <div class="form-group m-3">
                        <label>title</label>
                        <input type="text" name="title" class="form-control" placeholder="Enter your title write...">
                    </div>

                    <div class="form-group m-3">
                        <label>Upload image</label>
                        <input required name="images" type="file" multiple class="form-control-file">
                    </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-md" name="save">Save</button>
                            <a href="{% url 'armyphotopage' %}" class="btn btn-info btn-md">Back</a>
                        </div>
                        
                      </form>
                  </div>
                </div>
              </div>
            {% else %}
            <div class="col-lg-6 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Photos</h4>
                  <form class="forms-sample" method="POST">
                    {% csrf_token %}
                      
                      <div class="form-group">
                        <input type="text" value="{{year.name}}" name="name" class="form-control">
                      </div>
                      <div class="form-group">
                          <button class="btn btn-primary btn-md">Edit</button>
                          <a href="{% url 'crtyearpage' %}" class="btn btn-info btn-md">Back</a>
                      </div>
                      
                    </form>
                </div>
              </div>
            </div>
            </div>
            {% endif %}


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Themewagon</a></span> 
          </div>
        </footer> 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

{% endblock content %}

