{% extends 'layout/master.html' %}
{% load static %}
{% block title %}Army Photo Page{% endblock title %}

{% block content %}
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'layout/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
    {% include 'layout/notification.html' %}
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      {% include 'layout/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="row justify-content-center">
                <div class="col">
                    <a href="{% url 'armyphotopage' %}" class="btn btn-dark my-3">Go Back</a>
    
                    <div>
                        <p>{{photos.title}}</p>
                        <p>{{ photos.year}}</p>
                        <img src="{{ photos.image.url }}" alt="" style="max-width: 600px;max-height:600px;object-fit: cover;">
    
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Themewagon</a></span> 
          </div>
        </footer> 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

{% endblock content %}

