{% extends 'layout/master.html' %}
{% load static %}
<title>{% block title %}All Show{% endblock title %}</title>

{% block content %}
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include "layout/navbar.html"%}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
       {% include 'layout/notification.html' %}
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      {% include 'layout/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title text-center">
                        <h4 class="text-center card-title text-danger">"ဇော်မျိူးနိုင် ကိုယ်ရီးအကျဉ်း"</h4>
                        <img src="{% static 'images/leader2.jpg' %}" alt="" style="display: block;margin-left:auto;margin-right:auto;width:20%;border-radius:2%;object-fit:cover;">
                    </p>
                    
                    <div class="table-responsive">
                      <table class="table table-bordered text-center" style="width: 80%;margin-right:auto;margin-left:auto;border: 1px solid black;border-collapse: collapse;">
                        
                        <tbody>
                          <tr>
                            <td style="width: 10%;font-size:18px;">1</td>
                            <td style="width: 20%;font-size:18px;">အမည်</td>
                            <td style="width: 40%;font-size:18px;">ဇော်မျိုးနိုင်</td>
                          </tr>
                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>

                          <tr>
                            <td style="width: 10%;font-size:18px;">2</td>
                            <td style="width: 20%;font-size:18px;">အသက်</td>
                            <td style="width: 40%;font-size:18px;">၂၅ နှစ်</td>
                          </tr>
   
                        </tbody>
                      </table>
                      <a href="{% url 'allshowpage' %}" class="btn btn-primary btn-md">Back</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <!-- row end -->
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
 {% endblock content %}